<script setup>
import { ref, inject, computed } from 'vue';
const showPopup = ref(true);
const notochord = inject('notochord');
const connectionText = computed(() => {
    //  connectionStatus but with first letter capitalized
    return notochord.status.connectionStatus.charAt(0).toUpperCase() + notochord.status.connectionStatus.slice(1);
});
</script>

<template>
    <div class="connection-status" >
        <div class="circle" :class="$notochord.status.connectionStatus"></div>
        <div class="text">{{ connectionText }}</div>
        <div class="popup" >
            <p>Connection details</p>
            <p>{{ $notochord.status.connection }}</p>
            <p>{{ $notochord.status.notochordStatus }}</p>
        </div>
    </div>
</template>
  
<style scoped>
.connection-status {
    display: flex;
    cursor: pointer;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.circle {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 3px;
    transition: background-color 0.3s;
}

.connected {
    background-color: green;
}

.disconnected {
    background-color: red;
}

.pending {
    background-color: orange;
}

.text {
    font-size: 16px;
    color: black;
}

.popup {
    position: absolute;
    bottom: 30px;
    /* right: 0; */
    background-color: #fff;
    color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 8px;
    display: none;
    z-index: 1;
    width: max-content;
}

.connection-status:hover .popup {
    display: block;
}
</style>
  