<script setup>
import { computed } from 'vue';
import { RouterLink, useRoute } from 'vue-router';
import IconCube from './icons/IconCube.vue';

const props = defineProps({
    route: {
        type: String,
        default: '/'
    },
    name: {
        type: String,
        default: ''
    },
    icon: {
        type: Object,
        default: IconCube
    }
});

const _route = useRoute();
const isActive = computed(() => _route.path === props.route ? true : false);

</script>

<template>
  <RouterLink :to="route" class="nav-btn">
    <component :is="icon" />
    {{ isActive ? name : '' }}
  </RouterLink>
  
</template>

<style lang="scss">
.nav-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 1px;
    font-size: 13px;
    color: black;

    &:hover {
        g {
            fill: url(#myGradient);
        }
    }

    &.router-link-exact-active {
        width: 75px;
        height: 75px;
        path {
            fill: url(#myGradient);
        }
    }
}
</style>