<!--
The Popup component is a reusable component that displays a popup with a form to save a recording clip. It receives two props:
- clipName: the name of the clip to be saved.
- showPopup: a boolean value that determines whether the popup should be displayed or not.

It emits two events:
- update:clipName: an event that updates the clipName prop.
- update:showPopup: an event that updates the showPopup prop.

Example usage:
<Popup v-if="showPopup" @save-clip="createClip" v-model:clipName="clipName" v-model:showPopup="showPopup"/>
-->
<script setup>
defineProps(['clipName', 'showPopup']);
defineEmits(['update:clipName', 'update:showPopup']);

</script>

<template>
    <div class="popup">
        <div class="popup-container">
            <h2>Recording complete</h2>
            <form @submit.prevent="handleSubmit">
                <div class="form-group">
                    <label for="clip-name">Clip Name:</label>
                    <input
                        :value="clipName"
                        @input="$emit('update:clipName', $event.target.value)"
                    />
                </div>
                <button @click="$emit('saveClip')">Save</button>
                <button @click="$emit('update:showPopup', false)">Discard</button>
            </form>
        </div>
    </div>
</template>

<style>
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: black;
  z-index: 2;
}

.popup-container {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}
</style>