<script setup>
import { ref } from 'vue';

const props = defineProps({
  clickAction: {
    type: Function,
    required: true
  },
  holdAction: {
    type: Function,
    required: true
  }
});
const holding = ref(false);
let holdTimeout = null;
let holdTriggered = false;

const DELAY = 500; // miliseconds

const startHold = () => {
  holdTimeout = setTimeout(() => {
    holdTriggered = true;
    // Handle hold action
    props.holdAction();
  }, DELAY);
  holding.value = true;
};

const endHold = () => {
  clearTimeout(holdTimeout);
  holding.value = false;
};

const singleClick = () => {
  if (!holdTriggered) {
    // Handle single click action
    props.clickAction();
  }
  holdTriggered = false;
};
</script>

<template>
  <button
    class="quick-action"
    :class="{ 'holding': holding }"
    @mousedown="startHold"
    @mouseup="endHold"
    @click="singleClick"
  >
    <slot></slot>
    <div class="color-fill"></div>
  </button>
</template>

<style lang="scss">
.quick-action {
  width: 64px;
  height: 64px;
  background-color: #205375;
  color: white;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  overflow: hidden;
  margin-top: 3px;
}

.quick-action:hover {
  background-color: #2980b9;
}

.holding .color-fill {
  animation: colorFillAnimation 0.5s linear;
}

.color-fill {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: #4617b47e;
}

@keyframes colorFillAnimation {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}
</style>
