<script setup>
import { ref, inject } from 'vue';

const props = defineProps({
  isMaximized: {
    type: Boolean,
    default: false
  }
});

const notochord = inject('notochord');

notochord.comm.addMessage('info', 'Welcome to Notochord!');

const messages = ref(null);
const scrollDown = () => {
  if (messages.value === null) return;
  messages.value.scrollTop = messages.value.scrollHeight;
};

</script>

<template>
  <div id="terminal">
    <div class="status">
      {{ $notochord.status.notochordStatus }}
    </div>
    <div class="messages" ref="messages">
      <div class="message" v-for="message in notochord.comm.messages">
        <span :class="message.type">[{{ message.type.toUpperCase() }}]</span> -
        {{ message.message }}
        {{ scrollDown() }}
      </div>
    </div>
  </div>
</template>

  
<style lang="scss" scoped>
#terminal {
  background-color: black;
  overflow: scroll;

  // Terminal font
  font-family: 'Courier New', Courier, monospace;

  &.minimized {
    display: flex;
    align-items: center;
    padding-left: 2vh;
    padding-right: 2vh;
    color: white;
    font-size: 10px;
    .messages {
      height: 1rem;
    }
  }
  &.expanded {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 2vh;
    padding-right: 2vh;
    padding-top: 2vh;
    color: white;
    font-size: 10px;

    .status {
      margin-bottom: 2vh;
    }
  }
}

.status {
  background-color: #2c61b5;
  border-radius: 10px;
  height: auto;
  padding: 4px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  margin-right: 2vh;
}

.messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  overflow: scroll;
  .message {
    color: white;
    text-align: left;
  }
}

.error {
  color: red;
}

.info {
  color: green;
}

.warning {
  color: yellow;
}

.debug {
  color: blue;
}
</style>
  