<script setup>
import { ref, inject, computed } from 'vue';

const notochord = inject('notochord');
const configurations = notochord.config.configurations;
const labels = notochord.config.labels;
const activeLabel = ref(notochord.config.activeLabel);
const activeConfig = notochord.config.activeConfig;
const newLabel = ref(activeLabel.value);
const toRemove = ref(null);

const filteredList = computed(() => {
    return labels.filter(label => label !== activeLabel.value);
});

const saveConfig = () => {
    notochord.config.createConfig(newLabel.value);
};

const deleteConfig = () => {
    notochord.config.deleteConfig(toRemove.value);
};

const setActive = () => {
    console.log("setActive");
    notochord.config.setActive();
};

</script>

<template>
    <div id="toolbox">
        <div class="config-section">
            <label>Select a configuration from the list: </label>
            <select v-model="notochord.config.activeLabel" @change="setActive()">
                <option v-for="label in labels" :key="label" :value="label">
                    {{ label }}
                </option>
            </select>
        </div>

        <div class="config-section">
            <label>Verbosity: </label>
            <input v-model="$notochord.config.verbosity" type="number" min="0">
        </div>

        <div class="config-section">
            <label>Transmit to: </label>
            <div class="radio-group">
                <input type="radio" id="ws" value="websocket" v-model="$notochord.config.transmit">
                <label for="ws">WS</label>

                <input type="radio" id="osc" value="osc" v-model="$notochord.config.transmit">
                <label for="osc">OSC</label>

                <input type="radio" id="python" value="python" v-model="$notochord.config.transmit">
                <label for="python">PYTHON</label>
            </div>
        </div>

        <div class="config-section file-config">
            <input type="checkbox" id="simulationActive" name="simulationActive" v-model="$notochord.config.simulationActive">
            <label for="simulationActive">Simulation Active</label>

            <label for="csvAddress">CSV Address: </label>
            <input type="text" id="csvAddress" name="csvAddress" v-model="$notochord.config.csv">

            <label for="jsonAddress">JSON Address: </label>
            <input type="text" id="jsonAddress" name="jsonAddress" v-model="$notochord.config.json">
        </div>

        <div class="config-section">
            <div class="button-group">
                <button @click="saveConfig">Save</button>
                <input type="text" v-model="newLabel">
            </div>

            <div class="button-group">
                <button @click="deleteConfig">Delete</button>
                <select v-model="toRemove">
                    <option v-for="label in filteredList" :key="label" :value="label">
                        {{ label }}
                    </option>
                </select>
            </div>
        </div>
    </div>
</template>


<style lang="scss" scoped>
#toolbox {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    margin: auto;
    overflow: scroll;
}

.config-section {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.radio-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.button-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50; /* Green */
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: white;
    color: black;
    border: 1px solid #4CAF50;
}
</style>
