@import './base.css';

#app {
  max-width: 1920px;
  margin: 0 auto;
  /* padding: 2rem; */
  font-weight: normal;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

#motion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: aquamarine;
}

#motion-controls {
  display: flex;
  flex-grow: 1;
  align-items: end;
  justify-content: end;
  margin: 10px;
  margin-left: auto;
}

#motion-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#animation-controls {
  margin: auto 10px 10px 10px;
}