<!-- This is actually not a layout -->
<script setup>
import { ref } from 'vue';
import Toolbox from '@/modules/shared/components/Toolbox.vue';
import Terminal from '@/modules/shared/components/Terminal.vue';
import ConnectionStatus from '../components/ConnectionStatus.vue';
import IconToolbox from '../components/icons/IconToolbox.vue';
import IconTerminal from '../components/icons/IconTerminal.vue';

const tabs = {
    toolbox: Toolbox,
    terminal: Terminal
}

const expanded = ref(false);
const activeTab = ref('terminal');

const handleTab = (tab) => {
    if (activeTab.value === tab)
        expanded.value = !expanded.value;
    else
        expanded.value = true;

    if (expanded.value)
        activeTab.value = tab;
    else 
        activeTab.value = 'terminal';   // When minimized, default to terminal
}
</script>
<template>
    <footer>
        <div class="tabs">
            <IconToolbox @click="handleTab('toolbox')" />
            <IconTerminal @click="handleTab('terminal')" />
            <ConnectionStatus />
        </div>
        <KeepAlive>
            <component :is="tabs[activeTab]" :class="expanded ? 'expanded' : 'minimized'"
                        @click="()=>{expanded ? {} : handleTab('terminal')}"/>
        </KeepAlive>
    </footer>
</template>

<style>
.expanded {
    height: 40vh;
}

.minimized {
    height: 4vh;
}

.tabs {
    display: flex;
    flex-direction: row;
    margin-top: -25px;
}
</style>