<script setup>
import { ref } from 'vue';
import NavButton from '../components/NavButton.vue';
import IconMotion from '../components/icons/IconMotion.vue';
import IconCube from '../components/icons/IconCube.vue';
import IconAnimate from '../components/icons/IconAnimate.vue';
import IconMaintenance from '../components/icons/IconMaintenance.vue';

const showMenu = ref(false);

</script>

<template>
  <nav>
    <!-- menu toggle -->
    <div class="menu-toggle">
      <div class="menu-icon" @click="showMenu = true">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <ul>
      <li>
        <NavButton route="/" name="Motion" :icon=IconMotion />
      </li>
      <li>
        <NavButton route="/cube" name="Cube" :icon=IconCube />
      </li>
      <li>
        <NavButton route="/animate" name="Animate" :icon=IconAnimate />
      </li>
      <li>
        <NavButton route="/maintenance" name="Updates" :icon=IconMaintenance />
      </li>
    </ul>
  </nav>
  <div class="lateral-menu" :class="{'show-menu': showMenu}">
    <button class="close-button" @click="showMenu = false">×</button>
  </div>
</template>

<style lang="scss" scoped>
$lateral-menu-width: 300px; // Lateral menu width

/* Styling for the navigation bar */
nav {
  display: flex;
  align-items: center;
  z-index: 1;
  padding: 10px;
  width: 100%;

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    margin-left: auto;
    padding: 0;

    li {
      margin: 0 10px;
    }
  }
}

/* Styling for the menu toggle */
.menu-toggle {
  cursor: pointer;

  /* Styling for the hamburger icon */
  .menu-icon span {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px 0;
      background-color: #333;    
  }
  .menu-icon:hover {
    span {
      background-color: #fff;
    }
  }

}

/* Styling for the lateral menu */
.lateral-menu {
    position: fixed;
    top: 0;
    left: -$lateral-menu-width; /* Initially hidden to the left */
    width: $lateral-menu-width;
    height: 100%;
    background-color: #333;
    transition: left 0.3s ease;
    z-index: 1;
}

/* Show the lateral menu when .show-menu is applied */
.lateral-menu.show-menu {
    left: 0;
}

/* Styling for the close button */
.close-button {
    position: absolute;
    top: 10px;
    right: 20px;
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

</style>
