<script setup>
import { ref } from 'vue';
const emit = defineEmits(['buttonConfirmed']);
let clickedButton = ref(false);

function confirm() {
	clickedButton.value = false;
	emit('buttonConfirmed');
}

function cancel() {
	clickedButton.value = false;
}
</script>

<template>
	<div>
		<button v-if="!clickedButton" @click="clickedButton=true">
			<slot name="main"></slot>
		</button>
		<div v-else>
			<button class="button-yes" @click="confirm()"><slot name="button-yes"></slot></button>
			<button class="button-no" @click="cancel()"><slot name="button-no"></slot></button>
		</div>
	</div>
</template>

<style>
.button-yes {
	background-color: green;
	
}
.button-no {
	background-color: red;
	
}
</style>