<script setup>
import { inject } from 'vue';
import ConfirmationButton from './ConfirmationButton.vue';

const notochord = inject('notochord');

function updateAll() {
	notochord.http.makeRequest('maintenance', 'updateAll').then((response) => {
		// TODO: Inform with popup notification
		console.log("Update all successful");
	}).catch((error) => {
		// TODO: Inform with popup notification
		console.log("Update all failed");
	});

}

function updateOs() {
	notochord.http.makeRequest('maintenance', 'updateOs').then((response) => {
		// TODO: Inform with popup notification
		console.log("Update OS successful");
	}).catch((error) => {
		// TODO: Inform with popup notification
		console.log("Update OS failed");		
	});
}

function updateNotochord() {
	notochord.http.makeRequest('maintenance', 'updateNotochord').then((response) => {
		// TODO: Inform with popup notification
		console.log("Update notochord successful");
	}).catch((error) => {
		// TODO: Inform with popup notification
		console.log("Update notochord failed");
	});
}

function updateServer() {
	notochord.http.makeRequest('maintenance', 'updateServer').then((response) => {
		// TODO: Inform with popup notification
		console.log("Update server successful");
	}).catch((error) => {
		// TODO: Inform with popup notification
		console.log("Update server failed");
	});
}

function reboot() {
	notochord.http.makeRequest('maintenance', 'reboot').then((response) => {
		// TODO: Inform with popup notification
		console.log("Reboot successful");
	}).catch((error) => {
		// TODO: Inform with popup notification
		console.log("Reboot failed");
	});
}

</script>

<template>
	<div class="maintenance">
		<h3>Updates</h3>
		<div class="module">
			<div class="version">
			<span class="module-name">Notochord Module</span>
			<span class="current-version">Version 1.0.0</span>
			</div>
			<button class="btn-update">Update</button>
		</div>
		<div class="module">
			<div class="version">
			<span class="module-name">Notochord Server</span>
			<span class="current-version">Version 1.0.0</span>
			</div>
			<button class="btn-update">Update</button>
		</div>
		<div class="module">
			<div class="version">
			<span class="module-name">Notochord OS</span>
			<span class="current-version">Version 1.0.0</span>
			</div>
			<button class="btn-update">Update</button>
		</div>
		<div class="maint-btns">
			<ConfirmationButton @buttonConfirmed="reboot" class="big-button">
				<template #main><span class="small-button">Reboot</span></template>
				<template #button-yes>
					<span class="small-button">Yes</span>
				</template>
				<template #button-no>
					<span class="small-button">No</span>
				</template>
			</ConfirmationButton>
			<button class="btn-update">Update All</button>
		</div>
	</div>
</template>

<style lang="scss" scoped>
.maintenance {
	width: 100%;
	height:100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 20px;

	h3 {
		margin-right: auto;
		border-bottom: 1px solid;
		width: 100%;
		text-align: left;
		margin-bottom: 20px;
	}

	.module {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		margin-bottom: 10px;

		.version {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;

			.module-name {
				font-weight: bold;
			}

			.current-version {
				font-size: 0.8em;
			}
		}
	}

	.maint-btns {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		margin-top: 20px;
	}
}

</style>
