html {
    font-family: "Noto Sans", sans-serif;
	font-weight: 300;
	background: #8c8c8c;
	padding: 0 1rem;
	background-image: url(diagonal-lines_soft.png);
	background-repeat: repeat;
}

strong {
	font-weight: 600;
}

@keyframes cardin {
	from {
		transform: translateY(-250%)
	}

	to {
		transform: translateY(0%)
	}
}


body {
	/*! max-width: 960px; */
	margin: 0 10px;
	background: #121212;
	/*! border-radius: 10px; */
	box-shadow: 0px 2px 0px 2px #0000001c;
	padding: 0 0 20px 0;
	background-image: url(diagonal-lines_soft.png);
	background-repeat: repeat;
}

h1 {
	font-weight: 300;
	color: #256083;
	margin: 1rem 0;
}

h1 span{
	font-weight: 100;
}

h2 {
	font-weight: 400
}

a:active {
	color: #377ba8;
}

hr {
	border: none;
	border-top: 1px solid lightgray;
}


nav {
	background-color: rgba(37, 40, 41, 0.98);
	display: flex;
	align-items: center;
	padding: 0 0rem;
	margin-bottom: 12px;
	justify-content: space-between;
	background-image: url(diagonal-lines_soft.png);
	background-repeat: repeat;
}

nav img {
	width: 160px;
	/*! padding: 20px; */
	/*! flex: 1; */
}

nav h1 {
	/*! flex: 1; */
	margin-left: 10px;
	font-weight: bold;


}

nav h1  {
    color: white;
}

nav h1 a {
	text-decoration: none;
	padding: 0.25rem 0.5rem;
}

nav ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-left: auto;
}

nav ul li a, nav ul li span, header .action {
	display: block;
	padding: 0.7rem;
}

.content {
	padding: 0 1.1rem 1rem;
}

.content>header {
	/* border-bottom: 2px solid lightgray; */
	display: flex;
	align-items: flex-end;
	margin-bottom: 10px;
}

.content>header h1 {
	flex: auto;
	margin: 1rem 0 0.25rem 0;
}

.flash {
	margin: 1em 0;
	padding: 1em;
	background: #cae6f6;
	border: 1px solid #377ba8;
}

.post>header {
	display: flex;
	align-items: flex-end;
	font-size: 0.85em;
}

.post>header>div:first-of-type {
	flex: auto;
}

.post>header h1 {
	font-size: 1.5em;
	margin-bottom: 0;
}

.post .about {
	color: slategray;
	font-style: italic;
}

.post .body {
	white-space: pre-line;
}

.content:last-child {
	margin-bottom: 0;
}

.content form {
	margin: 1em 0;
	display: flex;
	flex-direction: column;
}

.content label {
	margin-bottom: 0.4em;
}

.content input, .content textarea {
	margin-bottom: 1em;
}

.content textarea {
	min-height: 12em;
	resize: vertical;
}

input.danger {
	color: #cc2f2e;
}

/* input[type="text"]{
	max-width: 300px;
} */

input[type=submit] {
	/*! align-self: start; */
	min-width: 10em;
	margin: 0;
	margin-top: 8px;
}

.hidden {
	display: none;
}

#popup,
#popup .popup_back {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

#popup .popup_back {
	background-color: #00000029;
}

#popup_details_box {
	padding: 10px;
	box-shadow: 0px 1px 6px #00000069 inset;
	border-radius: 9px;
	margin-top: 10px;
}

#popup .popup_content {
	position: fixed;
	width: 50%;
	min-height: 200px;
	top: 5%;
	left: 24%;
	background-color: white;
	border-radius: 6px;
	box-shadow: 0px 6px 8px #0000006b;
	padding: 20px;
}

button.del_button,
#popup button {
	cursor: pointer;
	border-radius: 4px;
}

button.del_button {
	width: 100%;
}

button.del_button:hover {
	background-color: #a74c4c;
}

#popup button {
	margin: 10px;
	padding: 10px 30px;
	border-color: #3d7db6;
	background-color: #b3d2ee;
}

button.del_button,
button#confirm_remove {
	border-color: red;
	background-color: pink;
	font-weight: bold;
}

table tr:hover {
	background-color: #bbc2c3;
}

table,
table th,
table tr {
	font-weight: 300;
	text-align: left;
}

table th {
	border-left: 1px solid gray;
	padding: 4px;
}

table tr.table_head th {
	font-weight: 400;
	text-align: center;
	border-bottom: 2px solid black;
}

#spinner-area {
	height: 50px;
	width: 50px;
	/*background-color: gray;*/
	position: relative;
	/*! display: inline-block; */

}


#navigation {
	/*! box-shadow: 0px 1px 6px #00000069 inset; */
	/*! padding: 0px 0px 0px 12px; */
	margin: 10px 20px ;
	/*! border-radius: 9px; */
	justify-content: start;
}
#navigation li a{
	color: #447162;

}

#navigation li.active a{
	font-weight: bold;
	color:white;
	box-shadow: 0px 1px 11px #b2e5edf2 inset;
}


#sec-navigation a, 
#navigation a {
	color: white;
	/*! border-radius: 4px; */
	/*! margin: 6px 9px; */
	/*! box-shadow: 0px 1px 4px #000000bf; */
	text-decoration: none;
	padding: 7px 21px;
}

#sec-navigation li:hover,
#navigation li:hover {
	background-color: #4e907a;
}

#sec-navigation .current,
#navigation .current {
	background-color: #377ba8;
	color: white;
}

#top_nav {
	flex-wrap: wrap;
	padding: 0 1.1rem 0rem;	
}

details>summary {
	padding: 2px 8px;
	background-color: #ddd;
	border: none;
	cursor: pointer;
}

details>div {
	background-color: rgba(221, 221, 221, 0.337);
	padding: 4px 4px 4px 8px;
}

details {
	margin-bottom: 4px;

}

details[open] {
	margin-bottom: 10px;
}

.mb-0 {
	margin-bottom: 0 !important;
	border-radius: 3px 3px 0 0 !important;
}

.mt-0 {
	margin-top: 0 !important;
	border-radius: 0 0 3px 3px !important;	
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	/*font-size: 30px;*/
	justify-content: space-between;	
}

.flex-container-column {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	flex: 1;
	max-width: 100%;
}

.flex-item {
	padding: 10px;
	flex: 1;
	margin: 5px;
}

.break {
	flex-basis: 100%;
	height: 0;
}  

.card {
	border-radius: 3px;
	background-color: #1f1f1f;
	box-sizing: border-box;
	/* box-shadow: 0 2px 2px rgba(0,90,250,0.05), 0 4px 4px rgba(0,90,250,0.05), 0 8px 8px rgba(0,90,250,0.05), 0 16px 16px rgba(0,90,250,0.05); */
	color: white;
}

button {
	cursor: pointer;
	border: none;
	border-radius: 8px;
	box-shadow: 2px 2px 7px #38d39f70;
	background: #38d39f;
	color: rgba(255, 255, 255, 0.8);
	min-width: 200px;
	transition: all 1s;
	padding: 6px 4px 6px 4px;
}

.clear-btn {
	min-width: 80px;
	margin-left: auto;
}

button:hover {
	color: rgb(255, 255, 255);
	box-shadow: none;
}

/* Make button darker while clicking it */
button:active {
	background-color: #3e8e41;
	box-shadow: none;
	transform: translateY(4px);
}

/* If button is disabled make it darker */
button:disabled {
	background-color: #5f756070;
	box-shadow: none;
	transform: translateY(4px);
}

input, select {
	border: none;
	border-bottom-color: currentcolor;
	border-bottom-style: none;
	border-bottom-width: medium;
	border-bottom: solid rgb(143, 143, 143) 1px;
	margin-bottom: 30px;
	background: none;
	color: rgba(255, 255, 255, 0.555);
	height: 35px;
}

select {
	margin-left: 10px;
}

.subtitle {
	font-size: 18px;
	color: rgba(177, 177, 177, 0.3);
}

.note {
	font-size: 0.8em;
	color: rgba(215, 215, 215, 0.567);
}

.display-row {
	justify-content: start;
	display: flex;
}

.bg-red {
	background-color: #f44336;
	/* Material Red for box shadow */
	box-shadow: 0 2px 2px rgba(244,67,54,0.05), 0 4px 4px rgba(244,67,54,0.05), 0 8px 8px rgba(244,67,54,0.05), 0 16px 16px rgba(244,67,54,0.05);
}

#calibration_info {
	background-color: #5f756070;
	border-radius: 3px;
	padding: 4px 6px 4px 14px;
	margin-top: 1rem;
}

#shell {
	max-height: 630px;
}

ul.horizontal {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #1f1f1f;
	border-radius: 3px;
  }
  ul.horizontal li {
	float: left;
	background-color: #38d39f;
	padding: 5px 0;
	margin: 0 2px;
  }

@media (max-width: 600px) {
	.flex-item {
		flex: 100%;
	}
	button {
		min-width: auto;
	}
	input {
		max-width: 80px;
	}
	html {
		padding: 0;
		margin: 0;
	}
	body {
		padding: 0;
		margin: 0;
	}
  }

  @media (max-width: 800px) {
	.flex-item {
		flex: 100%;
	}
	button {
		min-width: auto;
	}
	input {
		max-width: 100px;
	}
  }

  /* STATE COLORS */

  #state,
  #ext_state{
	padding: 8px 12px;
	border-radius: 8px;
	margin-left: 12px;
	margin-right: 12px;
	}

  #state.stopped,
  #ext_state.stopped {
	background-color: #ff45386e;
  }

  #state.idle,
  #ext_state.idle {
	background-color: #ffd7386e;
  }

  #state.running,
  #ext_state.running {
	background-color: #8bff386e;
  }

  #state.unavailable,
  #ext_state.unavailable {
	background-color: #3a3b37ee;
	color:#acb360d9
  }

   /* Collapsible */
.collapsible {
	/* background-color: #eee;
	color: #444; */
	cursor: pointer;
	box-shadow: none;
	float: right;
	border: none;
	text-align: left;
	outline: none;
	font-size: 8px;
	background-color: #38d39f17;
	border: solid 1px #38d39f5e;
	min-width: unset;
	padding: 4px 12px;
  }
  
  .collapsible.active, .collapsible:hover {
	background-color: #38c1d37b;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .collapsible-content {
	padding: 0 18px;
	display: none;
	overflow: hidden;
	font-size: 0.8em;
  } 

  .code-font {
	font-family: monospace;
  }

  .error-card {
	background-color: #ca6230;
	color: black;
	font-weight: bold;
  }
  