#terminal_header {
	justify-content: space-around;
	display: flex;
	align-items: center;
    background-color: grey;
    max-height: 75px;
}
#terminal{
    background-color: black;
    color: rgb(131, 230, 134);
    font-family: monospace;
    /* border-top: 80px solid grey; */
    overflow-y: scroll;
    border-radius: 3px;
    flex-grow: 9;
    min-width: 400px;
    max-height: 555px;
    min-height: 555px;
}

@media (max-width: 800px) {
    #terminal{
        min-width: auto;
        min-height: 300px;
    }
}

#terminal p{
    margin-top: 0;
    margin-bottom: 0.2rem;

}

#terminal p::before{
    content: "> ";
}

#terminal p.pty::before{
    content: "$ ";
    color: rgb(119, 165, 253);
}

/*
.info {
	
}

*/
.debug {
	color: rgb(119, 165, 253);
}

.error {
    color: rgb(244, 67, 54);
}

.warning {
    color: rgb(255, 193, 7);
}

.trace {
    color: white;
}