<script setup>
import Maintenance from '../components/Maintenance.vue';
</script>

<template>
		<Maintenance class="maintenance" />
</template>

<style>
.maintenance {
	width: 100%;
	height:100%;
}

</style>
