<script setup>
import { ref, onMounted, inject, computed } from 'vue';
import { useAssetsStore } from '@/modules/canvas3d/store/assets';
import { useAnimationStore } from '@/modules/canvas3d/store/animation';
import * as THREE from 'three';

const assetsStore = useAssetsStore();
const animationStore = useAnimationStore();

// Player state
const isPlaying = ref(false);
const totalFrames = ref(100); // Adjust this value to the total number of frames in the animation

const time = computed({
  get() {
    if (!assetsStore.assets.mixer) {
      return 0;
    }
    return assetsStore.assets.mixer.time;
  },
  set(value) {
    if (!assetsStore.assets.mixer) {
      return;
    }
    console.log(value)
    assetsStore.assets.mixer.setTime(value);
  },
});

// Function to play the next frame in the animation
const playNextFrame = () => {
  if (time.value < totalFrames.value) {
    assetsStore.assets.mixer?.update(0.1);
  } else {
    // If we already reached the last frame, stop the animation
    isPlaying.value = false;
  }
};

// Function to play the previous frame in the animation
const playPreviousFrame = () => {
  if (time.value > 0) {
    assetsStore.assets.mixer?.update(-0.1);
  } else {
    // If we already reached the first frame, stop the animation
    isPlaying.value = false;
  }
};

let requestId = null;

// Function to update the animation when the slider changes
const onSliderChange = () => {
  // Stop the animation if it's playing
  isPlaying.value = false;
};

// Function to play/pause the animation
const clock = new THREE.Clock();

const animate = () => {
  requestId = requestAnimationFrame(animate);
  const delta = clock.getDelta();
  if (isPlaying.value) {
    if (time.value < totalFrames.value) {
      assetsStore.assets.mixer?.update(delta);
    } else {
      // If we already reached the last frame, stop the animation
      isPlaying.value = false;
    }
  }
};
animate();

const togglePlayPause = () => {
  isPlaying.value = !isPlaying.value;

  // If we're playing, start the animation timer
  if (isPlaying.value) {
    // animationStore.play();
    if (time.value >= totalFrames.value) {
      // If we're at the end of the animation, reset the frame counter
      time.value = 0;
    }
  } else {
  }
};

const notochord = inject('notochord');

const selectedAnimation = ref(null);
const animationList = ref([]);

notochord.http.makeRequest('pose', 'fetchClips').then((response) => {
  if (response) {
    animationList.value = response.responseXML.getElementsByTagName('NotochordAnimation');
    // Set the first animation as the selected one
    selectedAnimation.value = animationList.value[0].getAttribute('label');
    setAnimation();
  } else {
    console.log("Error getting animation list");
  }
});

const setAnimation = async (e) => {
  if (e) {
    selectedAnimation.value = e.target.value;
  }
  if (selectedAnimation.value == null) {
    return;
  }
  const activeAction = await animationStore.loadAction(selectedAnimation.value);
  totalFrames.value = animationStore.activeDuration();
  animationStore.play();
};

</script>

<template>
  <div class="animation-player">
    <!-- Navigation bar -->
    <div id="progress-bar">
        <!-- Slider -->
        <input type="range" min="0" :max="totalFrames" v-model="time" step="0.01" @input="onSliderChange" />
        <div class="timers">
          <span id="current-time">{{ time.toFixed(2) }}</span> <span id="clip-duration">{{ animationStore.activeDuration().toFixed(2) }}</span>
        </div>
    </div>
    <div class="animation-buttons">
      <!-- Rewind button -->
      <button id="btn-rewind" @click="playPreviousFrame">⏮︎</button>
      <!-- Play/pause button -->
      <button id="btn-play" @click="togglePlayPause">{{ isPlaying ? '⏸︎' : '&nbsp▶' }}</button>
      <!-- Forward button -->
      <button id="btn-forward" @click="playNextFrame">⏭︎</button>
      <br>
      
    </div>

    <!-- Animation selection -->
    <div>
      <select @change="setAnimation($event)">
        <option disabled selected value> -- select an option -- </option>
        <option v-for="animationXML in animationList" :key="animationXML.getAttribute('label')">
          {{ animationXML.getAttribute('label') }}
        </option>
      </select>
    </div>

  </div>
</template>

<style lang="scss" scoped>
.animation-player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #030303;
  transition: background-color 0.5s ease;
  z-index: 1;
  margin-bottom: 4vh;
}

#progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;

  input[type='range'] {
    width: 100%;
    // style
    margin: 10px 0;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    // thumb
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: #4caf50;
      cursor: pointer;
    }
  }

  .timers {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.animation-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;

  button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
  }

  #btn-play {
    background-color: #a74fff;
    width: 50px;
    height: 50px;
    font-size: 20px;
    padding-bottom: 3%;
  }

  #btn-rewind, #btn-forward {
    background-color: #74747433;
    color: black;
  }
}
</style>