<script setup>
import { ref, inject, computed } from 'vue';
import { useAssetsStore } from '@/modules/canvas3d/store/assets';
import QuickAction from '@/modules/shared/components/QuickAction.vue';

const notochord = inject('notochord');

const isExpanded = ref(false);
const isRunning = ref(false);

const handleStart = () => {
    console.log('Handle start');
    isRunning.value ? stop() : start();
    isRunning.value = !isRunning.value;
};

const start = async () => {
    console.log('Start action');
    await notochord.http.makeRequest('notochord', 'init');
};

const stop = () => {
    console.log('Stop action');
    notochord.http.makeRequest('notochord', 'end');
};

// TODO: Move
const assets = useAssetsStore();

// assets.sensors is a dict of sensors, where the key is the sensor name
// and the value is the active flag

const sensorList = computed(() => {
    return Object.keys(assets.sensors);
});

const previoslySelectedSensor = ref(null);

const selectSensor = (e) => {
    if (previoslySelectedSensor.value) {
        assets.sensors[previoslySelectedSensor.value] = false;
    }
    assets.sensors[e.target.value] = true;
    console.log(e);
};

// TODO: Move calibration functionality to a separate component
const Calibrations = {
    GYRO  : 0,
    ACCEL : 1,
    MAG   : 2,
    SAVE  : 3,
}

const a_samples = ref(0);

const handleClick = () => {
    calibrate(Calibrations.STATIC);
};

const handleHold = () => {
    console.log('Hold action');
    isExpanded.value = !isExpanded.value;
};

const calibrate = (step) => {
    console.log('Calibrate ' + step);
    if (step == Calibrations.ACCEL) {
        a_samples.value += 1;
    }
    notochord.http.makeRequest('configuration', 'calibrate', step);
};

</script>

<template>
    <!-- A list of sensors -->
    <select class="sensors" @change="selectSensor($event)">
        <option disabled selected value> -- select an option -- </option>
        <option v-for="sensor in sensorList" :key="sensor" >
            <label :for="sensor">{{ sensor }}</label>
        </option>
    </select>
    <div class="quick-actions">
        <button v-if="isExpanded" class="quick-action" @click="calibrate(Calibrations.GYRO)">GYRO</button>
        <button v-if="isExpanded" class="quick-action" @click="calibrate(Calibrations.ACCEL)">ACCEL {{ a_samples }}</button>
        <button v-if="isExpanded" class="quick-action" @click="calibrate(Calibrations.MAG)">MAG</button>
        <button v-if="isExpanded" class="quick-action" @click="calibrate(Calibrations.SAVE)">Save</button>
        <button class="quick-action" @click="isExpanded = !isExpanded">Calibrate</button>
        
        <button class="quick-action" @click="handleStart">
            {{ isRunning ? 'Stop' : 'Start' }}
        </button>
    </div>
</template>

<style scoped>
.quick-actions {
  display: flex;
  flex-direction: column;
}
</style>