<script setup>
import { ref, onMounted } from 'vue';
import { useAssetsStore } from '@/modules/canvas3d/store/assets';

// Props
const props = defineProps({
  model: {
    type: String,
    default: 'avatar'
  }
});

const assetsStore = useAssetsStore();
if (props.model === 'avatar') {
  assetsStore.useAvatar();
} else {
  assetsStore.useKCPP();
}

// Get DOM elements
const container = ref(null);

// Observe the size of the container element
const resizeObserver = new ResizeObserver(function(data) {
  const width  = data[0].contentRect.width;
  const height = data[0].contentRect.height;

  if (width == 0 || height == 0) return;
  
  assetsStore.setCanvasSize(width, height);
});

// Mount the renderer and stats to the DOM
onMounted(() => {
  if (container.value) {          
    container.value.appendChild(assetsStore.getAsset('renderer').domElement);
    resizeObserver.observe(container.value);
  }
});
</script>

<template>                   
    <div ref="container">
    </div>  
</template>

<style scoped></style>