<script setup>
import { ref, inject } from 'vue';
import { useAnimationStore } from '../store/animation';
import QuickAction from '@/modules/shared/components/QuickAction.vue';
import Popup from '@/modules/shared/components/Popup.vue';
import * as THREE from 'three';

const notochord = inject('notochord');

const isExpanded = ref(false);
const isRunning = ref(false);

const handleStart = () => {
    console.log('Handle start');
    isRunning.value ? stop() : start();
    isRunning.value = !isRunning.value;
};

const start = () => {
    console.log('Start action');
    notochord.http.makeRequest('notochord', 'init');
};

const stop = () => {
    console.log('Stop action');
    notochord.http.makeRequest('notochord', 'end');
};

// TODO: Move calibration functionality to a separate component
const Calibrations = {
  CALIB_IDLE  : 0,
  STATIC      : 2,
  ARMS        : 3,
  TRUNK       : 4,
  LEFT_LEG    : 5,
  RIGHT_LEG   : 6
}

const currentCalibration = ref(Calibrations.CALIB_IDLE);

const handleClick = () => {
    calibrate(Calibrations.STATIC);
};

const handleHold = () => {
    console.log('Hold action');
    isExpanded.value = !isExpanded.value;
};

const calibrate = (step) => {    
    if (currentCalibration.value !== step) {
        console.log('Starting calibration: ' + step);
        notochord.http.makeRequest('pose', 'calibrate', step);
        currentCalibration.value = step;
    } else {
        console.log('Stopping calibration');
        notochord.http.makeRequest('pose', 'calibrate', Calibrations.CALIB_IDLE);
        currentCalibration.value = Calibrations.CALIB_IDLE;
    }
};

const runCalibration = () => {
    console.log('Run calibration');
    notochord.http.makeRequest('pose', 'runCalibration');
}

// TODO: Move recording functionality to a separate component and merge with CubeControls.vue
const animationStore = useAnimationStore();
const isRecording = ref(false);
const buffer = {};
const clipName = ref('');
const showPopup = ref(false);

const addToBuffer = (name, q) => {
    if (!isRecording.value) return;
    if (!buffer[name]) {
        buffer[name] = [];
    }
    
    buffer[name].push([q[1], q[2], q[3], q[0]]);
};

const handleREC = () => {
    console.log('REC action');
    isRecording.value ? stopRecording() : startRecording();
    // isRecording.value = !isRecording.value;
};

const startRecording = () => {
    console.log('Start recording');
    isRecording.value = true;
    notochord.osc.addCallback('Chordata', '/Chordata/q/*', (data) => {
        // console.log(`Received quaternion ${name}: ${q}`)
        const q = data.args;
        const name = data.address.split('/').pop();
        
        addToBuffer(name, q);
    });
    showPopup.value = false;
};

const stopRecording = () => {
    console.log('Stop recording');
    isRecording.value = false;
    // TODO: remove callback
    showPopup.value = true;
    console.log(showPopup.value)
};

const createClip = async () => {
  showPopup.value = false;
  const tracks = [];

  for (const [key, value] of Object.entries(buffer)) { // value is an array of quaternion arrays
    // times should be an array of timestamps, [0, 1, 2, length - 1]
    if (key == 'JCS_new_calib') continue;
    const times = value.map((_, index) => index/10);
    const q_values = value.flat();
    
    const track = new THREE.QuaternionKeyframeTrack(key+'.quaternion', times, q_values);
    tracks.push(track);
  }

  const clip = new THREE.AnimationClip(clipName.value, -1, tracks);
  animationStore.addAction(clipName.value, clip);

  await notochord.http.makeRequest('pose', 'saveClip', clipName.value, clip.toJSON());
  console.log("Save clip response: ");
  console.log(notochord.http.response);
}

</script>

<template>
    <div class="quick-actions">
        <button v-if="isExpanded" class="quick-action" @click="runCalibration">Run</button>
        <button v-if="isExpanded" class="quick-action" :class="{active: currentCalibration === Calibrations.ARMS}" @click="calibrate(Calibrations.ARMS)">Arms</button>
        <button v-if="isExpanded" class="quick-action" :class="{active: currentCalibration === Calibrations.TRUNK}" @click="calibrate(Calibrations.TRUNK)">Trunk</button>
        <button v-if="isExpanded" class="quick-action" :class="{active: currentCalibration === Calibrations.RIGHT_LEG}" @click="calibrate(Calibrations.RIGHT_LEG)">R-Leg</button>
        <button v-if="isExpanded" class="quick-action" :class="{active: currentCalibration === Calibrations.LEFT_LEG}" @click="calibrate(Calibrations.LEFT_LEG)">L-Leg</button>
        <QuickAction :clickAction="handleClick" :holdAction="handleHold" :class="{active: currentCalibration === Calibrations.STATIC}" >
            Calibrate
        </QuickAction>
        <button class="quick-action" @click="handleREC">
            {{ isRecording ? 'Stop Recording' : 'Record' }}
        </button>
        <button class="quick-action" @click="handleStart">
            {{ isRunning ? 'Stop' : 'Start' }}
        </button>
    </div>
    <Popup v-if="showPopup" @save-clip="createClip" v-model:clipName="clipName" v-model:showPopup="showPopup"/>
</template>

<style scoped>
.quick-actions {
  display: flex;
  flex-direction: column;
}

.active {
  background-color: #4CAF50;
}

.active:hover {
  background-color: #254d26;
}
</style>