<script setup>
import ModelViewer from '../components/ModelViewer.vue';
import AnimationPlayer from '../components/AnimationPlayer.vue';

import { useAssetsStore } from '@/modules/canvas3d/store/assets';

const assetsStore = useAssetsStore();

</script>

<template>
    <div id="motion">           
        <div id="motion-canvas">    
            <ModelViewer model="avatar" />
        </div>
        <div id="animation-controls">
            <AnimationPlayer />
        </div>
    </div>    
</template>