<script setup>
import ModelViewer from '../components/ModelViewer.vue';
import CubeControls from '../components/CubeControls.vue';

</script>

<template>
    <div id="motion">           
        <div id="motion-canvas">    
            <ModelViewer model="kcpp" />
        </div>
        <div id="motion-controls">
            <CubeControls />
        </div>
    </div>    
</template>