<script setup>
import ModelViewer from '../components/ModelViewer.vue';
import MotionControls from '../components/MotionControls.vue';

import { useAssetsStore } from '@/modules/canvas3d/store/assets';

const assetsStore = useAssetsStore();

</script>

<template>
    <div id="motion">           
        <div id="motion-canvas">    
            <ModelViewer model="avatar" />
        </div>
        <div id="motion-controls">
            <MotionControls />
        </div>
    </div>    
</template>