{% import 'macros.j2' as macros %}

<!doctype html>
<head>
  <title>{% block title %}{% endblock %} - Notochord Control server</title>
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
  <link rel="mask-icon" href="{{ url_for('static', filename='safari-pinned-tab.svg') }}" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='terminal.css') }}">
  
</head>
<body>
  <nav id="top_nav">
    <h1>Notochord Control Server <span>| v{{system_info['Control server version']}}</span></h1>
    <img src="{{ url_for('static', filename='logo-chordata.png') }}">
  </nav>

  {{ macros.nav_bar() }}


  <!-- <div id="navigation">
    <ul class="horizontal">
      <li><a class="active" href="{{url_for('frontend.home')}}">Home</a></li>
      <li><a href="{{url_for('frontend.maintenance')}}">Maintenance</a></li>
      
      <li class="rightli" style="float:right" hidden><a href="javascript:void(0)">About</a></li>
    </ul>
  </div> -->

  <section class="content">
    <header>
      {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
  </section>
</body>