{% extends 'base.html' %}
{% import 'macros.j2' as macros %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    
<div class="flex-container">
    <div id="control" class="flex-container-column">
        {{ macros.noto_process_state(system_info) }}
        <div class="flex-item card display-row">
            <div style="margin-right: 20px;">
                <span class="subtitle">IP:</span>
                <br>
                <input id="addr" type="text" value={{request.remote_addr}} name="ip">
            </div>
            <div>
                <span class="subtitle">PORT:</span>
                <br>
                <input id="port" value="6565" type="text" name="port">
            </div>
            <div style="margin-left: 5rem;">
                <span class="subtitle">VERBOSE:</span>
                <br>                
                <select name="verbose" id="verbose" style="height: 38px;">
                    <option value="0">Info</option>
                    <option value="1">Debug</option>
                    <option value="2">Trace</option>
                    <option value="3" hidden>Warning</option>
                    <option value="4" hidden>Critical</option>
                </select>
            </div>
        
        </div>
        <div class="flex-item card">
            <h1>Notochord Manager</h1> 
            <button class="btn" id="btn_scan"> SCAN </button>
            <button class="btn bg-red" id="btn_stop">STOP </button>
            <br>
        </div>
        <div class="flex-item card">
            <h1>Calibrate Sensor</h1>
            <button class="btn" id="btn_calib"> START CALIBRATION </button>
            <button class="btn" id="btn_mag" disabled> MAG CALIB </button>
            <button class="btn" id="btn_save" disabled> FINISH CALIB </button>
            <br>
            <div id="calibration_info" style="display: none;">
                <!--Exlpain how does the calibration step work-->
                <div id="calib_step_1">
                    <p>
                        Calibration is a process that allows the sensor to learn the environment it is in.<br><br>
                        <strong>Step 1 (gyroscope and accelerometer calib):</strong><br>
                        Place the sensor on a flat surface (RJ45 connector is considered the base) and press the button below.<br>
                        Look at the messages in the terminal, once this part of calibration is done, proceed with the next step.<br>
                    </p>
                    <img id="calib_gif_1" src="{{ url_for('static', filename='img/Kceptor_floor.png') }}" alt="Rotate sensor" height="200">
                </div>
                <div id="calib_step_2" hidden>
                    <p>
                        <strong>Step 2 (magnetometer calibration):</strong><br>
                        Grab the sensor and raise it from the surface. Make sure to hold it in your hands as far as possible from other objects (specially metallic, or magnetic ones). Once you are hit Proceed.<br>
                    </p> 
                    <video id="calib_gif_2" src="{{ url_for('static', filename='img/up_animation.mp4') }}" controls></video>
                </div>
                <div id="calib_step_3" hidden>
                    <p>
                        <strong>Step 3:</strong><br>
                        Rotate the sensor in all directions. A good way to achieve it is to imagine a cube with numbered faces wrapping the KCeptor. Put one face at a time on top and do a 360º turn. <br>
                        Once you complete all six faces hit "FINISH CALIB" to complete the process<br>
                    </p>
                    <video id="calib_gif_3" src="{{ url_for('static', filename='img/rotation_calibration_animation.mp4') }}" controls></video>
                </div>
                <div id="calib_step_4" hidden>
                    <p>
                        <strong>Step 4:</strong><br>
                        Calibration done! The data has been saved. Now hit Scan and use the Blender addon to test the calibration.<br>
                    </p>                    
                </div>
                <br>
                <button class="btn" id="btn_proceed"> Proceed </button><br>
            </div>
        </div>
        <div class="flex-item card">
            <h1>Set I2C Address</h1>        
            <button class="btn" id="btn_i2c"> SET i2c ADDR </button>
            <!--Select options from 0x40 to 0x5f-->
            <select name="i2c-addr" id="i2c-addr">
                {% for i in range(0x40, 0x5f + 1) %}
                    <option value="{{"{:2x}".format(i)}}">{{"0x{:2x}".format(i)}}</option>
                {% endfor %}
            </select>        
            <br>
        </div>
    </div>
    
    <div id="shell" class="flex-container-column">
        <div id="terminal_header" class="flex-item card mb-0">
            Shell
            <button class="clear-btn" id="btn_clear">Clear</button>
        </div>
        <div id="terminal" class="flex-item card mt-0" >
            <p>Welcome to the Notochord Shell</p>
            <p></p>
        </div>
    </div>

</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/remote_console.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/terminal.js') }}"></script>

{% endblock %}
