{% macro noto_process_state(sysinfo) -%}
<div class="flex-item card">
    <button type="button" class="collapsible">System info</button>
    <p>
        <strong>Notochord process state:</strong><span class="idle" id="state">IDLE</span>
        <strong>External process state:</strong><span class="idle" id="ext_state">IDLE</span>
    </p>
    <div class="collapsible-content">
      {% for k,v in sysinfo.items() %}

      <p><strong>{{k}}:</strong> <span class='code-font'>{{v}}</span></p>
      {% endfor %}
    </div> 
</div>
{%- endmacro -%}


{% macro nav_bar() -%}
{% set pages = ["home", "maintenance", "pose"] -%}
  <div id="navigation">
    <ul class="horizontal">
        
        {% for page in pages %}
        {% set _url = url_for('frontend.'+page ) -%}
        
        <li {% if _url == url_for(request.endpoint) %} class="active" {% endif %} ><a href="{{ _url }}">{{ page.title() }}</a></li>
        {% endfor %}
      
      <li class="rightli" style="float:right" hidden><a href="javascript:void(0)">About</a></li>
    </ul>
  </div>
{%- endmacro -%}

{% macro countrycode_options(countrycodes, countrycode) -%}
  {% for code, name in countrycodes %}
    <option value="{{code}}" {{ 'selected' if code.__eq__(countrycode) }}>{{ name }}</option>
  {% endfor %}
{%- endmacro -%}