{% extends 'base.html' %}
{% import 'macros.j2' as macros %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    
<div class="flex-container">
    <div id="control" class="flex-container-column">
        {{ macros.noto_process_state(system_info) }}
        {% if not system_info['CHORD_CONF_INI'] %}
        <div class="flex-item card error-card">
            <p>Error: the maintenance scripts were not found at: </p>
            <p class="code-font">{{system_info['CHORD_MAINTENANCE_DIR']}}</p>
        </div>

        {% else %}
        <div class="flex-item card">
            <h1>Connection Manager</h1>
            <p class="note">To add an external WIFI network use the form below. The notochord OS will revert to the default access point if no valid WIFI network is in range.</p>  
            <div class="display-row">
                <div style="margin-right: 20px;">
                    <span class="subtitle">Wifi SSID:</span>
                    <br>
		            <select hidden id="ssid_dropdown" name="ssid_dropdown" disabled style="height: 38px;"></select>
                    <input id="ssid" type="text" name="ssid">
                    <br>
                    <span class="subtitle"> Add new SSID</span>
                    <input id="ssid_selector" type="checkbox">
                </div>
                <div>
                    <span class="subtitle">Password:</span>
                    <br>
                    <input id="pwd" type="text" name="pwd">
                </div>
                <div>
                    <span class="subtitle">Country:</span>
                    <br>
                    <select id="countrycode" name="countrycode" style="height: 38px;">
                        <option>select country</option>
                        {{ macros.countrycode_options(countrycodes, countrycode) }}
                    </select>
                </div>
            </div>
            <br>
            <button class="btn" id="btn_wifi"> Set WIFI </button>
        </div>
        <div class="flex-item card">
            <h1>Update Manager</h1>         
            <div style="display: flex;">
                <button class="btn" id="btn_update_all" style="padding: 50px;"> Update All </button>
                <div class="flex-container" style="flex-direction: column; margin-left: 2%;">
                    <button class="btn" id="btn_update_os"> Update OS </button>
                    <button class="btn" id="btn_update_server"> Update Server </button>
                    <button class="btn" id="btn_update_notochord"> Update Notochord Module </button>
                </div>
            </div>    
            <br>
        </div>
        <div class="flex-item card" style="max-height: 84px;">
            <button class="btn bg-red" id="btn_reboot">Reboot</button>
            <div id="reboot-verification" hidden>
                Are you sure you want to reboot?
                <button class="btn" id="btn_reboot_yes">Yes</button>
                <button class="btn bg-red" id="btn_reboot_no">No</button>
            </div>
        </div>
        {% endif %}
    </div>

    
    <div id="shell" class="flex-container-column">
        <div id="terminal_header" class="flex-item card mb-0">
            Shell
            <button class="clear-btn" id="btn_clear">Clear</button>
        </div>
        <div id="terminal" class="flex-item card mt-0" >
            <p>Welcome to the Notochord Shell</p>
            <p></p>
        </div>
    </div>

</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/remote_console.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/maintenance.js') }}"></script>
{% endblock %}
