{% extends 'base.html' %}
{% import 'macros.j2' as macros %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    
<div class="flex-container">
    <div id="control" class="flex-container-column">
        {{ macros.noto_process_state(system_info) }}
        <div class="flex-item card display-row">
            <div style="margin-right: 20px;">
                <span class="subtitle">IP:</span>
                <br>
                <input id="addr" type="text" value={{request.remote_addr}} name="ip">
            </div>
            <div>
                <span class="subtitle">PORT:</span>
                <br>
                <input id="port" value="6565" type="text" name="port">
            </div>
            <div style="margin-left: 5rem;">
                <span class="subtitle">VERBOSE:</span>
                <br>                
                <select name="verbose" id="verbose" style="height: 38px;">
                    <option value="0">Info</option>
                    <option value="1">Debug</option>
                    <option value="2">Trace</option>
                    <option value="3" hidden>Warning</option>
                    <option value="4" hidden>Critical</option>
                </select>
            </div>
        
        </div>
        <div class="flex-item card">
            <h1>Notochord Manager</h1> 
            <button class="btn" id="btn_connect">CONNECT</button>
            <button class="btn bg-red" id="btn_disconnect">DISCONNECT</button>
            <br>
        </div>
        <div class="flex-item card">
            <h1>Calibration Data</h1> 
            <button class="btn" id="btn_data">GET DATA</button>
            <button class="btn" id="btn_index">GET INDEXES</button>
            <br>
        </div>
        <div class="flex-item card">
            <h1>Pose Calibration</h1>
            <button class="btn" id="btn_static"> STATIC </button>
            <button class="btn" id="btn_arms" disabled> ARMS </button>
            <button class="btn" id="btn_trunk" disabled> TRUNK </button>
            <button class="btn" id="btn_l_leg" disabled> L-LEG </button>
            <button class="btn" id="btn_r_leg" disabled> R-LEG </button>
            <br>
            <div id="calibration_info" style="display: none;">
                <!--Exlpain how does the calibration step work-->
                <div id="static_step">
                    <p>
                        Pose calibration is a process that allows the armature to be correctly aligned with the sensor.<br>
                        <strong>Step 1 (Static Calibration):</strong><br>
                        Stay in a static position (soldier pose) and hit "Proceed".<br>
                        Once this part of calibration is done, continue with the next step.<br>
                    </p>
                    <img id="calib_gif_1" src="{{ url_for('static', filename='img/Kceptor_floor.png') }}" alt="Rotate sensor" height="200">                    
                </div>
                <div id="arms_step" hidden>
                    <p>
                        <strong>Step 2 (Arms Calibration):</strong><br>
                        Hit "Proceed" and raise your arms up and down. After you finish continue with the next step.<br>
                    </p> 
                    <video id="calib_gif_2" src="{{ url_for('static', filename='img/up_animation.mp4') }}" controls></video>
                </div>
                <div id="trunk_step" hidden>
                    <p>
                        <strong>Step 3 (Trunk Calibration):</strong><br>
                        Hit "Proceed" and rotate your torso frontwards and backwards, like you're taking a bow. After you finish continue with the next step.<br>
                    </p>
                    <video id="calib_gif_3" src="{{ url_for('static', filename='img/rotation_calibration_animation.mp4') }}" controls></video>
                </div>
                <div id="l_leg_step" hidden>
                    <p>
                        <strong>Step 4 (Left Leg Calibration):</strong><br>
                        Hit "Proceed" and move your left leg upwards and downwards. After you finish continue with the next step.<br>
                    </p>                    
                </div>
                <div id="r_leg_step" hidden>
                    <p>
                        <strong>Step 5 (Right Leg Calibration):</strong><br>
                        Hit "Proceed" and move your right leg upwards and downwards. After you finish continue with the next step.<br>
                    </p>
                </div>
                <div id="calibration_done" hidden>
                    <p>
                        <strong>Calibration done!</strong><br>
                    </p>
                </div>
                <br>
                <div class="flex-item">
                    <button class="btn" id="btn_calib"> Calibrate </button>
                    <button class="btn" id="btn_calib_stop"> Stop </button>
                </div><br>
            </div>
        </div>
    </div>
    
    <div id="shell" class="flex-container-column">
        <div id="terminal_header" class="flex-item card mb-0">
            Shell
            <button class="clear-btn" id="btn_clear">Clear</button>
        </div>
        <div id="terminal" class="flex-item card mt-0" >
            <p>Welcome to the Notochord Shell</p>
            <p></p>
        </div>
    </div>

</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/remote_console.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/pose.js') }}"></script>

{% endblock %}
