<template>
    <svg xmlns="http://www.w3.org/2000/svg" width="27.227" height="27" viewBox="0 0 27.227 27" fill="none">
        <defs>
            <linearGradient id="myGradient" gradientTransform="rotate(90)">
                <stop offset="5%" stop-color="gold" />
                <stop offset="95%" stop-color="red" />
            </linearGradient>
        </defs>
        <path d="M0,7.215V19.853C0,20.063,0.119,20.256,0.306,20.352L13.046,27V13.449L0,7.215Z 
                 M26.711,6.2L13.857,0.051C13.704,-0.017,13.523,-0.017,13.37,0.051L0.516,6.2L13.613,12.462L26.711,6.2Z 
                 M14.181,27L26.921,20.352C27.108,20.256,27.227,20.063,27.227,19.853V7.215L14.181,13.449V27Z" 
                 fill="currentColor" />
    </svg>
</template>

<style lang="scss" scoped>
svg {
    width: 60%;
    height: 60%;
}       
</style>