<template>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px"
        viewBox="0 0 50 62.5" enable-background="new 0 0 50 50" xml:space="preserve">
        <g>
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M13.513,14.736v3.222c2.305-0.002,4.609,0,6.914,0l-0.001-3.221h-2.72   l0.001-6.274l1.166-2.291V2.814c-1.269-0.001-2.537,0-3.806,0.001l0.001,3.359l1.165,2.29l-0.001,6.272L13.513,14.736z    M24.866,3.075l-4.46,3.145l0.037,3.066c4.984,0,9.969-0.004,14.954,0V3.075L24.866,3.075z M0,31.652v4.805h50v-4.805H0z M0,39.085   v8.102h50v-8.102H0z M0,20.922v8.101h50v-8.101h-5.917l1.34-8.365l3.262-3.971l-2.334-4.85L44.67,3.464l-0.668,4.126   c-0.634,0.043-1.237-0.055-1.824-0.296l0.665-4.124L41.165,2.9l-3.743,3.869l1.83,4.778l-1.512,9.376h-6.047l-0.429-10.299h-5.459   l-0.429,10.299h-5.555l-0.091-1.629l-5.521,0l-0.09,1.628h-1.886l-2.231-9.505l1.51-4.912L7.51,2.904L5.853,3.291l0.949,4.071   c-0.568,0.28-1.166,0.419-1.8,0.419L4.052,3.713L2.396,4.099L0.403,9.1l3.507,3.725l1.893,8.097H0z" />
        </g>
    </svg>
</template>

<style lang="scss" scoped>
svg {
    width: 50px;
    height: 50px;
}
</style>
