<template>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 40" x="0px" y="0px">
        <title>terminal, software, command line, console, ssh</title>
        <g data-name="Layer 2">
            <path
                d="M27,4H5A3,3,0,0,0,2,7V25a3,3,0,0,0,3,3H27a3,3,0,0,0,3-3V7A3,3,0,0,0,27,4ZM11.707,13.707l-3,3a1,1,0,1,1-1.414-1.414L9.586,13,7.293,10.707A1,1,0,1,1,8.707,9.293l3,3A1,1,0,0,1,11.707,13.707ZM20,17H15a1,1,0,0,1,0-2h5a1,1,0,0,1,0,2Z" />
        </g>
    </svg>
</template>

<style lang="scss" scoped>
svg {
    width: 50px;
    height: 50px;
}
</style>
