<template>
    <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 64 64" x="0px" y="0px">
        <path fill="currentColor"
            d="m15.18,35h.16c.56,0,1.02.39,1.16.93.11.44.23.87.38,1.29.34,1.02.79,2,1.33,2.91l-1.82,1.82c-1.56,1.56-1.56,4.09,0,5.66.79.78,1.81,1.17,2.83,1.17s2.05-.39,2.83-1.17l9.85-9.85c2.18.39,4.5-.26,6.18-1.94,1.98-1.98,2.52-4.83,1.65-7.31l-3.54,3.54-4.24-4.24,3.54-3.54c-2.48-.87-5.33-.33-7.31,1.65-1.68,1.68-2.33,4-1.94,6.18l-5.08,5.08h0c-.48-1.01-.82-2.1-1-3.24-.11-.63-.16-1.28-.16-1.94,0-6.63,5.37-12,12-12s12,5.37,12,12-5.37,12-12,12c-.66,0-1.31-.05-1.94-.16l-3.28,3.28c.42.15.85.27,1.29.38.54.14.93.6.93,1.16v.16c0,.65.53,1.18,1.18,1.18h3.64c.65,0,1.18-.53,1.18-1.18v-.16c0-.56.39-1.02.93-1.16,1.53-.38,2.97-.98,4.29-1.77.46-.28,1.04-.23,1.42.15l.13.13c.46.47,1.21.47,1.67,0l2.57-2.57c.47-.46.47-1.21,0-1.67l-.13-.13c-.38-.38-.43-.96-.15-1.42.79-1.32,1.39-2.76,1.77-4.29.14-.54.6-.93,1.16-.93h.16c.65,0,1.18-.53,1.18-1.18v-3.64c0-.65-.53-1.18-1.18-1.18h-.16c-.56,0-1.02-.39-1.16-.93-.38-1.53-.98-2.97-1.77-4.29-.28-.46-.23-1.04.15-1.42l.13-.13c.47-.46.47-1.21,0-1.67l-2.57-2.57c-.46-.47-1.21-.47-1.67,0l-.13.13c-.38.38-.96.43-1.42.15-1.32-.79-2.76-1.39-4.29-1.77-.54-.14-.93-.6-.93-1.16v-.16c0-.65-.53-1.18-1.18-1.18h-3.64c-.65,0-1.18.53-1.18,1.18v.16c0,.56-.39,1.02-.93,1.16-1.53.38-2.97.98-4.29,1.77-.46.28-1.04.23-1.42-.15l-.13-.13c-.46-.47-1.21-.47-1.67,0l-2.57,2.57c-.47.46-.47,1.21,0,1.67l.13.13c.38.38.43.96.15,1.42-.79,1.32-1.39,2.76-1.77,4.29-.14.54-.6.93-1.16.93h-.16c-.65,0-1.18.53-1.18,1.18v3.64c0,.65.53,1.18,1.18,1.18Zm4.75,10.49c-.39.39-1.02.39-1.42,0-.39-.4-.39-1.03,0-1.42.4-.39,1.03-.39,1.42,0,.39.39.39,1.02,0,1.42Z" />
    </svg>
</template>

<style lang="scss" scoped>
svg {
    width: 100%;
    height: 100%;
}       
</style>