<template>
    <svg xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
        <path fill="currentColor" d="M50,4.5C24.8,4.5,4.5,24.8,4.5,50S24.8,95.5,50,95.5S95.5,75.2,95.5,50S75.2,4.5,50,4.5z M70.8,53.3L40.5,71  c-0.6,0.4-1.3,0.5-1.9,0.5c-0.6,0-1.3-0.1-1.9-0.5c-1.1-0.6-1.9-1.9-1.9-3.3V32.3c0-1.4,0.8-2.7,1.9-3.3c1.1-0.6,2.7-0.6,3.8,0  l30.4,17.7c1.1,0.6,1.8,1.9,1.8,3.3S71.9,52.7,70.8,53.3z"/>
    </svg>
</template>

<style lang="scss" scoped>
svg {
    width: 60%;
    height: 60%;
}       
</style>