<script setup>
import { RouterView } from 'vue-router';
import { useAssetsStore } from './modules/canvas3d/store/assets';
import HeaderLayout from '@/modules/shared/layouts/HeaderLayout.vue';
import FooterLayout from '@/modules/shared/layouts/FooterLayout.vue';

// TODO: Make assets a plugin and load it after notochord
const assetsStore = useAssetsStore();
assetsStore.init();
</script>

<template>  
<HeaderLayout />  
<RouterView />
<FooterLayout />
</template>

<style lang="scss">
$primary: #ffffff;

#app {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $primary;
  color: #000000;
  text-align: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

</style>
